<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routine Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 id="page-header">Today's date is </h1>
    <table id="routine">
        <tbody>
            <tr>
                <td>
                    <div class="checkbox"> </div>
                </td>
                <td id="1">Exercise 1</td>
                <td><a id="url1" href="">Link</a></td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox"> </div>
                </td>
                <td id="2">Exercise 2</td>
                <td><a id="url2" href="">Link</a></td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox"> </div>
                </td>
                <td id="3">Exercise 3</td>
                <td><a id="url3" href="">Link</a></td>
            </tr>
        </tbody>
        
    </table>
    <form action="/complete">
        <button id="submit">
            Finish
        </button>
    </form>
</body>
<script type="module" src="/js/script.js"></script>
</html>